@import "./scss/btn";

.input-mathfield {
  border: solid 1px #cc9966;
  margin: 10px;
  padding-left: 10px;
  font-size: 20px;
}

.ML__keyboard {
  font-family: 'Roboto', sans-serif;

  .keyboard-layer {
    margin: 0 9px;

    div.keyboard-toolbar {
      width: 100%;
    }

    div.rows {
      align-items: flex-start;
      margin: 0 auto;
      cursor: default;

      > ul {
        height: auto;
        margin: 0 0 9px 0;
      }
    }
  }
}

.keyboard__row-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.keyboard__block {
  margin-right: 9px;

  &:last-child {
    margin-right: 0;
  }
}

.keyboard__list {
  margin: 0 0 9px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.keyboard__title {
  font-size: 8px;
  line-height: 21px;
  color: #C5C5C5;
  margin: 0;
}

.keyboard__still,
.keyboard__rollup {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-size: 8px;
  width: 50px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.keyboard__still {
  background: #FFFFFF;
  color: #000000;
}

.keyboard__rollup {
  background: #FF5A5A;
  color: #FFFFFF;
}